.button {
border: 1px solid #01f488;
padding: 10px 50px;
background-color: #01f488;
color: rgb(255, 253, 253);
text-decoration: none;
text-transform:capitalize;
font-family:'Varela Round', sans-serif;
border-radius: 50px;

}
.button:hover {
    border: 1px solid pink;
    padding: 12px 55px;
    background-color: pink;
    color: rgb(255, 253, 253);
    text-decoration: none;
    text-transform:capitalize;
    font-family:'Varela Round', sans-serif;
    border-radius: 50px;
    
    }
    .button2 {
        border: 1px solid #ffffff;
        padding: 10px 30px;
        background-color: #fbfbfb;
        color: rgb(0, 0, 0);
        text-decoration: none;
        text-transform:uppercase;
        font-family:'Varela Round', sans-serif;
        border-radius: 50px;
        }
        .button2:hover {
            border: 1px solid blue;
            padding: 12px 33px;
            background-color: blue ;
            color: rgb(0, 0, 0);
            text-decoration: none;
            text-transform:uppercase;
            font-family:'Varela Round', sans-serif;
            border-radius: 50px;
            }