body,
html {
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
.no-format{
    padding: 0;
    margin: 0;
}
.wrapper {
    height: 100%;
    width: 100%;
    background: rgb(25, 19, 57);
    background: -moz-radial-gradient(center, rgb(19, 75, 112) 0%, rgb(8, 32, 48) 100%);
    background: -webkit-radial-gradient(center, rgb(19, 75, 112) 0%, rgb(8, 32, 48) 100%);
    background: radial-gradient(ellipse at center, rgb(25, 19, 57) 0%, rgb(1, 0, 32) 100%);
    display: flex;
    flex-direction: row; /*mediaquery*/
    /* flex-direction: column-reverse;  */
}
.img_container, .text_container{
    width: 100%;    
}
.text_container{
    position: relative;
    top: 40vh; /*mediaquery*/
    padding-left: 5vw;
}
.title{
    font-family: 'Varela Round', sans-serif;
    color: rgb(254, 254, 254);
    font-size: 50px;
    padding-right: 35%;
}
.subtitle{
    font-family: 'Varela Round', sans-serif;
    color: rgb(79, 75, 105);
    margin: 3% 0%;
}
.line{
    border: 1px solid white;
}