/*WRAPPER*/
*{
    margin: 0;
    padding: 0;
}
body,
html {
    position: fixed;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
.no-format{
    padding: 0;
    margin: 0;
}
/*FLEX BOX*/
.wrapper_background{
    width: 100%;
    height: 100%;
    background: rgb(25, 19, 57);
    background: -moz-radial-gradient(center, rgb(19, 75, 112) 0%, rgb(8, 32, 48) 100%);
    background: -webkit-radial-gradient(center, rgb(19, 75, 112) 0%, rgb(8, 32, 48) 100%);
    background: radial-gradient(ellipse at center, rgb(25, 19, 57) 0%, rgb(1, 0, 32) 100%);
}
.wrapper {
    width: 85%; /*aquí*/
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column; /*mediaquery*/
}
.row_1, .row_2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
header{
    height: 10%;
    display: flex;
    flex-direction: row;
}
.row_1{
    height: 70%;
}
.row_2{
    height: 20%; /*aqui*/
}
.void_container{
    width: 0%; /*aquí*/
}
.text_container{
    position: relative;
    top: 15vh; /*mediaquery*/
    /* padding-left: 5vw; */
    width: 30%;
}
.img_container{
    width: 70%;
    background-image: url(../assets/drumkit.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.title{
    font-weight: 500;
    color: rgb(254, 254, 254);
    font-size: 50px; /*mediaquery*/
}
.subtitle{
    font-weight: bold;
    color: rgb(79, 75, 105);
    margin: 5% 0%;
}

.font{
    font-family: 'Roboto', sans-serif;
}

/* .line{
    border: 1px solid white;
} */
.button-container{
    display: inline-block;
    position: relative;
}
/*HEADER*/
/* .caixa_interior{
    width: 80%;
    height: 100px;
    margin: auto;
} */
.logo {
    padding: 2vh 0vw; /*aquí*/
}
.navbar {
    width: 100%;
    padding: 2vh 6vw;
    text-align: right
}
.navbar_grid{
    display: flex;
    justify-content: space-between;
    width: 60%; /*mediaquery*/
    float: right;
}
.navbar_item {
    display: inline;
    color: white;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: white;
}
.sign_up{
    color: green;
}
/*BOTONS*/
.boto_central {
    border: 1px solid #01f488;
    padding: 1.5vh 3.5vw;
    background-color: #01f488;
    color: rgb(255, 253, 253);
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 50px;
    font-size: medium;
    transition: all 1s;   
}
.boto_central:hover {
    /* border: 1px solid pink; */
    background-color: white;
    color: black;
}
.boto_baix {
    border: 1px solid #ffffff;
    padding: 1.5vh 1.5vw;
    background-color: #fbfbfb;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    border-radius: 50px;
    font-weight: bold;
    font-size: small;
    transition: all 1s;
}
.boto_baix:hover {
    /* border: 1px solid lightslategray; */
    background-color: #01f488 ;
    color: white;
}
.temporal{
    position: absolute;
    bottom: 0;
    left: 50vw;
}
/*IMG*/
.img_bateria{
    width: 100%;
}
.big_button{
    position: absolute;
    height: 29%;
    width: 20%;
    border-radius: 50%;
    background-color: #01f488;
}

.bombo{
    top: 16%;
    left: 28%;
}

.crash{
    top: 16%;
    right: 28.5%;
}

.hit-hat{
    top: 52%;
    left: 16%;
}

.redoblante{
    top: 52%;
    right: 16%;
}
.little_button{
    position: absolute;
    height: 21%;
    width: 15%;
    border-radius: 50%;
    background-color: #01f488;
}
.tom1{
    top: 6%;
    left: 2%;
}
.tom2{
    top: 29%;
    left: 9.5%;
}

.tom3{
    top: 6%;
    right: 3%;
}
.tom4{
    top: 29%;
    right: 10.5%;
}

/*FOOTER*/

.footer{
    /* position: absolute;
    bottom: 0;
    height: auto;
    width: auto;
    bottom: 0;
    padding: 40px 723px; */
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.footer-content h2{
    width: max-content;
    font-size: 1.48em;
    color: white;
    margin: 0;
}

.footer-content p{
    color: #BDB6B6;
    margin: 1% auto;
    margin-bottom: 5%;
}


/*PROVA MEDIA QUERY*/
@media only screen and (max-width: 600px) {
    .text_container{
        top: 0; /*mediaquery*/
    }
    .row_2{
        display: none;
    }
    .row_1{
        height: 100%;
        flex-direction: column-reverse;
    }
  }